$titulo:'Love Ya Like A Sister', sans-serif;
$legenda: 'Inika', sans-serif;
$cor-fundo: rgb(71, 4, 71);
$texto-padrao: black;
$titulo-img:#fff;
$formulario:#fff;
$cor-link: rgb(197, 149, 197);
$box-color:#351C5970;
$cor-formulario: #391BA6;
$cor-legenda: rgb(0, 0, 0);