@import url('https://fonts.googleapis.com/css2?family=Domine&family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Yanone+Kaffeesatz:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #9bb4ff;
}


.container{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    .contentainer-animacao{
        .imagemAnimacao{
            width: 130%;
            padding-left: 20px;
        }
        .conteudo{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .logoutHome{
                display: flex;
                padding-right:30px ;
                padding-left: 30px;
                .botaologoutHome{
                    border-radius: 3px;
                    padding: 15px;
                    font-family: 'Lato', sans-serif;
                    border: none;
                    font-weight: bold;
                    color: #9bb4ff;
                    font-size: 25px;
                }
                .botaologoutHome:hover{
                    background-color: #4875fa;
                }    
            }
            .tituloHome{
                display: flex;
                justify-content: center;
                padding-top:25px ;
                margin-left: 80px;
                .frase{
                    font-family: 'Oswald', sans-serif;
                    font-size: 80px;
                    padding-top: 20px;
                    padding-left: 20px;
                    color: #4875fa;
                    text-align: center;
                    font-weight: bold;
                }
                }   
            
    
            
        }
        
    }
    
    .Home{
        max-width: 900px;
        overflow: hidden;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 80px;
        margin-top: 40px;
        
        
        .subtitulosHome{
            font-family: 'Oswald', sans-serif;
            font-size: 25px;
            padding: 10px;
            text-align: center;
            color: #4875fa;
        }
        .textosHome{
            font-family:'Lato', sans-serif;
            display: block;
            text-align: center;
            margin-bottom: 15px;
            color: #273e85;
            font-size: 20px;
            
    
        }
    
    }

    
    
    .diferenciaisHome{
        padding: 20px;
        display: flex;
        margin: 10px;
        img{
            height: 100px;
        }
        article{
            display: flex;
            .icon{
                height: 100px;
            }
        }
        .subtitulosHomeDif{
            font-family: 'Oswald', sans-serif;
            font-size: 25px;
            padding: 10px;
            color: #4875fa;
            text-align: center;
        }
        .textosHomeDif{
            font-family:'Lato', sans-serif ;
            margin-bottom: 15px;
            color: #273e85;
            text-align: center;
            
        }
    }


}

.titulo{
        font-family: 'Oswald', sans-serif;
        font-size: 35px;
        margin-left: 50px;
        color:#4875fa;
        padding-top: 30px;
        text-align: center;
        margin-top: 40px;
    }

.NavBar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .NavBar-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        height: 100px;
        margin-bottom: 15px;
        margin-left: 80px;
        margin-top: 20px;
    }
    .tituloNav{
        padding: 20px;
        margin-top: 15px;
        h3{
            font-family: 'Lato', sans-serif;
            color:#4875fa;
            font-weight: bold;
        }
        
    }
}




.formularioLogin{
    justify-content: center;
    background-color: #273e85 ;
    width: 500px;
    height: 350px;
    border-radius: 15px;
    
        
    .form{
        h1{
            text-align: center;
            font-size: 35px;
            font-family: 'Lato', sans-serif;
            padding: 20px;
            color: #9cb0e9;
        }
        input{
            padding: 8px;
        }
        .usuarioLogin{
            padding: 20px;
            label{
                font-family:'Lato', sans-serif;
                color: #9cb0e9;
                font-weight: bold;
                font-size: 25px;
            }
        }
        .senhaLogin{
            padding: 20px;
            label{
                font-family: 'Lato', sans-serif;
                color: #9cb0e9;
                font-weight: bold;
                font-size: 25px;
            }
        }

        .botaoLogin{
            border-radius: 3px;
            padding: 10px;
            font-family: 'Lato', sans-serif;
            border: none;
            font-weight: bold;
            color: #9cb0e9;
            font-weight: bold;
            font-size: 25px;
        }
        .botaoLogin:hover{
            background-color:#9cb0e9;;
            color: #4971dd;
        }
    }
    
    
}


.tituloSolto{
    font-family: 'Domine',sans-serif;
    font-size: 25px;
    margin-left: 10px;
    color: white;
    padding-top: 30px;
}

.Footer{
    padding-top: 100px;
    margin-left: 10px;
    text-align: center;
    h3{
        color: #273e85;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1600px){
    .NavBar{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .NavBar-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        .tituloNav{
            display: flex;
            justify-content: flex-end;
            padding-left: 5px;
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        margin-right: 15px;
        .content-banner{
            .conteudoBanner{
                display: flex;
                justify-content: space-between;
                .tituloImagem{
                    display: flex;
                    justify-content: flex-start;
                    height: 250px;
                }
                .fraseHome{
                    display: flex;
                    justify-content: center;
                    padding: 10px;
                    .fraseHomeTexto{
                        display: block;
                        font-size: 25px;
                    }
                }
                .logoutHome{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 5px;
                }
            }
        }
    }
}

@media screen and (min-width: 900px)and (max-width: 1023px){
    .NavBar{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .NavBar-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        .tituloNav{
            display: flex;
            justify-content: flex-end;
            padding-left: 5px;
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        .content-banner{
            .imagemHome{
                max-width: 600px;
                padding-right: 10px;
            }
            .conteudoBanner{
                .tituloImagem{
                    display: flex;
                    justify-content: flex-start;
                    height: 270px;
                }
                .fraseHome{
                    margin-right: 10px;
                    .fraseHomeTexto{
                        
                        font-size: 21px;
                    }
                }
            }
       
        }

        .secaoHome{
            display: flex;
            flex-direction: column;
            .textosHome{
                font-size: 14px;
            }
        }

    }
}

@media screen and (min-width: 501px) and (max-width: 900px){
    .NavBar{
        display: flex;
        
        .NavBar-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        .tituloNav{
            display: flex;
            justify-content: flex-end;
            padding-left: 5px;
        }
    }

    .container{
        display: inline-block;
        flex-direction: column;
        .content-banner{
            .imagemHome{
                max-width: 700px;
                padding-right: 10px;
            }
            .conteudoBanner{
                .tituloImagem{
                    display: flex;
                    justify-content: flex-start;
                    height: 270px;
                }
                .fraseHome{
                    margin-right: 10px;
                    .fraseHomeTexto{
                        
                        font-size: 21px;
                    }
                }
                .logoutHome{
                    align-items: flex-end;
                    
                    margin-right: 5px;
                }
            }
       
        }

        .secaoHome{
            display: flex;
            flex-direction: row;
            justify-content: center;
            max-width: 800px;
            margin-left: 20px;
            .textosHome{
                font-size: 14px;
            }
        }

        .diferenciaisHome{
            display: block;
            max-width: 800px;
            margin: 20px;
        }

    }
}


@media screen and (max-width: 500px){
    .NavBar{
        display: flex;
        
        .NavBar-logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
        .tituloNav{
            display: flex;
            justify-content: flex-end;
            padding-left: 5px;
        }
    }

    .container{
        display: inline-block;
        flex-direction: column;
        .content-banner{
            .imagemHome{
                max-width: 700px;
                padding-right: 10px;
            }
            .conteudoBanner{
                .tituloImagem{
                    display: flex;
                    justify-content: flex-start;
                    height: 270px;
                }
                .fraseHome{
                    margin-right: 10px;
                    .fraseHomeTexto{
                        font-size: 21px;
                    }
                }
                .logoutHome{
                    align-items: flex-end;
                    
                    margin-right: 5px;
                }
            }
       
        }

        .secaoHome{
            display: flex;
            flex-direction: row;
            justify-content: center;
            max-width: 800px;
            max-height: 500px;
            margin-left: 20px;
            .textosHome{
                font-size: 12px;
                text-align: justify;
                padding: 10px;
            }
        }

        .diferenciaisHome{
            display: block;
            max-width: 800px;
            margin: 20px;

        }

    }
}